<h1>Resolver Page Information</h1>

<div data-sly-use.model="com.mindtree.net.core.models.ResolverModel"></div>

<div>Page Path : ${model.pagePath}</div>
<div>Page Name : ${model.pageName}</div>
<div>Last Modified by : ${model.lastModified}</div>

<div>Child Pages Information : ${model.pageInformation}</div>
<div>Child Pages Information : ${model.pageInformation.title}</div>
<div>Child Pages Information : ${model.pageInformation.path}</div>
<div>Child Pages Information : ${model.pageInformation.depth}</div>



